/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

/* base CSS */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1.5rem;
   color: #F1F1F1;
   color:#181513;
   /* background-color: #181513; */
   background-color: #d4b799;
}

img {
   max-width: 100%;
   margin: 20px 0;
   /* margin-right: -30px; */
}

h1, h2{
   margin-bottom: 15px;
}

ul{
   list-style-type: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.container{
   max-width: 1100px;
   margin: 0 auto;
}

/* main code */
.navbar{
   color: #d4b799;
   background-color: #181513;  
   position: fixed;
   width: 100vw;
   top: 0;
}

.navbar .container{
   display: flex;
   align-items: center;
   height: 70px;
   justify-content: space-between;
}

.navbar .logo{
   font-size: 24px;
   font-weight: 900;
}

.navbar .nav-items ul{
   display: flex;
   gap: 30px;
}

.landing-page{
   margin-top: 70px;
   color : #d4b799;
   background-color:  #181513;
   border-top: 1px solid #d4b799;
}

.landing-page .container{
   min-height: 100vh;
   margin-top: -30px;
   display: flex;
   align-items: center;
   gap: 50px;
}

.landing-page h1{
   font-size: 40px;
   line-height: 1.1em;
}

.landing-page p{
   font-size: 18px;
}

.landing-page button{
   border: 0.08rem solid #d4b799;
   background-color:  #181513;
   color: #d4b799;
   border-radius: .25rem;
   font-weight: 600;
   min-height: 3rem;
   padding: 8px 25px;
   margin-top: 15px;
}

.landing-page .landing-image{
   width: 80%;
}

.usp .container {
   padding-bottom: 150px;
}
.usp .container h1{
   font-size: 40px;
   line-height: 1.1em;
   display: table;
   margin: 80px auto;
}

.usp-cards {
   display: flex;
   justify-content: space-between;
}
.usp-card {
   width: 220px;
   border: 3px solid #181513;
   border-radius: 1em;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.usp-card p{
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}


.usp-card img{
   width: 80px;
}
